[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.3"
attrs = "==19.1.0"
autopep8 = "==1.4.4"
certifi = "==2018.11.29"
chardet = "==3.0.4"
click = "==7.0"
dj-database-url = "==0.5.0"
django = "==2.2.28"
django-crispy-forms = "==1.7.2"
django-heroku = "==0.3.1"
entrypoints = "==0.3"
gunicorn = "==19.9.0"
idna = "==2.8"
mccabe = "==0.7.0"
psycopg2 = "==2.8.3"
pycodestyle = "==2.5.0"
pyflakes = "==2.1.1"
python-dotenv = "==0.21.1"
pytz = "==2019.2"
rebound-cli = "==2.0.0"
sentry-sdk = "==0.9.5"
soupsieve = "==1.8"
sqlparse = "==0.3.0"
toml = "==0.10.2"
urllib3 = "==1.26.5"
urwid = "==2.0.1"
virtualenv = "==16.7.2"
whitenoise = "==4.1.4"
you-get = "==0.4.1256"
Pillow = "==9.5.0"

[requires]
python_version = "3.7"
