<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {% include "head.html" %}

 

</head>

<body>

<section id="cover">
        <div class=" container ">
            <div class=" col-12">
                <div class="col-md-6 content">

                    <h1 class="header-caption display-2 responsive"> Blog </h1>

                    <p class="cover-caption display-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
                        vero ad obcaecati quod nisi qui, repellat,
                        culpa ipsum quas, sit explicabo sequi quis, totam id. Aliquam qui eius accusantium voluptatibus?
                    </p>

                </div>

                <div class="text-center">
                    <div class="main">

                    </div>

                </div>
            </div>

        </div>
    </section>

</body>

</html>