<!DOCTYPE html>
    {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% include "head.html" %}
</head>
<body>

<!-- Footer -->
<section id="footer">
	<div class="container">
		<div class="row">
			<div class="flex1">
				<h2 class="footer-header"> Informations</h2>
					<p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ut inventore accusamus autem atque, a temporibus repudiandae illo, iste consequatur praesentium modi odio accusantium perspiciatis. Dolor in, aperiam nobis dignissimos.</p>
			</div>
		</div>

		<div class="row">
			<div class="flex2">

				<h2> This blog made with </h2>
						<ol class="list">
							<li>Python| Django</li>
							<li>Html5 </li>
							<li>Boostrap4</li>
							<li>Css3</li>

						</ol>

			</div>
		</div>


		<div class="row">
            <h2> Don't miss anything !!! </h2>
			<div class="flex3">
				<!-- Soething here !!!!! -->
					<form>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-controlem" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
				    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-controlem" id="exampleInputPassword1" placeholder="Password">
				  </div>
				  <button type="submit" class="btn btn-outline-primary">Submit </button>
				</form>
			</div>
		</div>
		</div>

    	<!-- Stay connected Section -->

<div class="container">
	<div class="col-12">
	<div class="row text-center padding">
		<div class="social">
			<h3> Stay connected </h3>
			<hr class="light">
			<div class=" social padding">
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-google-plus-g"></i> </a>
			</div>
		</div>
	</div>
</div>
</div>

	</section>


</body>
</html>