{% include "navigation.html"  %}
{% load crispy_forms_tags %}
{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Form Page </title>

    {% include "head.html" %}
</head>

{% block content %}
    <h1 align="center"> You are at the Form Page </h1>
<form  class="mb-4" method="post" action="" enctype="multipart/form-data">
    <center>
    {{form | crispy }}
        <input class="btn btn-primary" type ="submit" value="Create_new_post"/>
    {% csrf_token %} <!-- csrf_token used to protect the form aka "security reasons" -->
    </center>
</form>
</html>

{% endblock content %}
